%Image::ExifTool::UserDefined = ();
use Image::ExifTool::XMP;

%Image::ExifTool::UserDefined::titi = (
  GROUPS => { 0 => 'XMP', 1 => 'XMP-titi', 2 => 'Image' },
  NAMESPACE => { titi => 'urn:titi:ns:1.0' },
  WRITABLE => 'string',
  Meta => {},
  SourceImage => {},
);

%Image::ExifTool::UserDefined = (
  'Image::ExifTool::XMP::Main' => {
    titi => { SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::titi' } },
  },
);

1;
